body {
	overflow: scroll;
}

:root {
	--bs-danger: #e92228;
	--bs-warning: gold;
	--bs-success: green;
}

.site {
	display: flex;
	min-height: 98vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

.btn-danger,
.alert-danger {
	background-color: var(--bs-danger);
}

.btn-warning,
.alert-warning {
	background-color: var(--bs-warning);
}

.btn-success,
.alert-success {
	background-color: var(--bs-success);
}

.btn-xs, .btn-group-sm > .btn {
    padding: .25rem .4rem;
  	font-size: .875rem;
  	line-height: .5;
  	border-radius: .2rem;
}

.alert-danger {
	color: white;
	border-color: var(--bs-danger);
}

.alert-warning {
	color: #333;
	border-color: var(--bs-warning)
}

.alert-success {
	color: white;
	border-color: var(--bs-success)
}

div.multiselect {
	/* top-level wrapper div */
	background: white;
	color: black;
}
div.multiselect > ul.options {
	/* dropdown options */
	background: white;
}

.datatable thead:not([style*='hidden']) th {
    padding: 8px 0px 8px 16px;
    text-align: center;
}
.datatable .dt-table td {
	text-align:center;
	padding:4px 0;
	max-width: 10vw;
}
.datatable .dt-table tr:nth-child(odd) {
	background-color: #f6f4f0;
  }
.datatable .dt-table tr:nth-child(even) {
	background: inherit;
  }
.datatable .dt-table tr:hover {
	background-color: #c9c9c9;
}

@media all {
	body.dark {
		background: #2B2A32;
		color: white;
	}

	body.dark .card {
		background: #42414C;
		border-color: #4d4d4d;
	}

	body.dark .card-header {
		border-bottom: 0.1rem solid rgb(178, 178, 178);
	}

	body.dark .card-body {
		color: white;
	}

	body.dark .bg-white,
	body.dark .bg-light {
		background: #212020 !important;
	}

	body.dark .card-footer a,
	body.dark .text-black-50 {
		color: gray !important;
	}

	body.dark .page-link {
		background: #42414c;
		border-color: #42414c;
	}

	body.dark .disabled>.page-link {
		background: #565656;
		border-color: #565656;
		color: #444;
	}

	body.dark .datatable {
		background: #42414C !important;
	}
	
	body.dark .datatable .dt-search {
		margin-left: 16px
	}
	body.dark .datatable .dt-search input {
		border: 1px solid #dbdbdb;
		border-radius: 4px;
		outline: none;
		padding: 0 8px;
		line-height: 24px;
		margin: 0;
		height: 24px;
		background: inherit;
		width: 176px;
		transition: all, 0.1s;
		color: #dbdbdb;
	}
	body.dark .datatable .dt-search input:focus {
		border: 2px solid #546e7a;
	}
	body.dark .datatable .dt-search input::placeholder {
		color: #eee;
		line-height: 24px;
	}
	
	body.dark .datatable thead:not([style*='hidden']) th {
		padding: 8px 0px 8px 16px;
		color: #eee;
		text-align: center;
		border-bottom: 1px solid #546e7a;
		background: inherit;
	}
	body.dark .datatable .dt-table th.sortable {
		cursor: pointer;
	}
	body.dark .datatable .dt-table th.sortable span {
		padding-right: 16px;
		position: relative;
	}
	body.dark .datatable .dt-table th.sortable span:before,
	body.dark .datatable .dt-table th.sortable span:after {
		border: 4px solid transparent;
		content: '';
		display: block;
		height: 0;
		right: 0;
		top: 50%;
		position: absolute;
		width: 0;
	}
	body.dark .datatable .dt-table th.sortable span:before {
		border-bottom-color: #546e7a;
		margin-top: -9px;
	}
	body.dark .datatable .dt-table th.sortable span:after {
		border-top-color: #546e7a;
		margin-top: 1px;
	}
	body.dark .datatable .dt-table th.sortable.asc:not(.desc) span:before {
		border-bottom-color: #eee;
	}
	body.dark .datatable .dt-table th.sortable.desc:not(.asc) span:after {
		border-top-color: #eee;
	}
	body.dark .datatable .dt-table th.filter {
		padding: 0;
		margin: 0;
		background-image: none;
		border: 1px solid #37474f;
	}
	body.dark .datatable .dt-table th.filter input {
		background: #42414C;
		height: 24px;
		border: none;
		border-bottom: 1px solid #546e7a;
		text-align: center;
		outline: none;
		border-radius: 0;
		font-size: 14px;
		color: #eee;
	}
	body.dark .datatable .dt-table th.filter input::placeholder {
		color: #607d8b;
		font-style: italic;
		font-size: 13px;
	}
	body.dark .datatable .dt-table tr:nth-child(odd) {
		background-color: #2B2A32;
  	}
	body.dark .datatable .dt-table tr:nth-child(even) {
		background: inherit;
  	}
	body.dark .datatable .dt-table tr:hover {
		background-color: #c9c9c9;
		color: black;
  	}
	
	body.dark .datatable .dt-table {
		border-bottom: 1px solid #546e7a;
		scrollbar-width: thin;
	}
	body.dark .datatable .dt-table::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	body.dark .datatable .dt-table::-webkit-scrollbar-track {
		background: #000a12;
	}
	body.dark .datatable .dt-table::-webkit-scrollbar-thumb {
		background: #455a64;
	}
	body.dark .datatable .dt-table::-webkit-scrollbar-thumb:hover {
		background: #546e7a;
	}
	body.dark .datatable .dt-table::-webkit-scrollbar-track-piece:start {
		top: 40px;
	}
	body.dark .datatable .dt-table table {
		width: 100%;
		border-collapse: collapse;
		overflow: hidden;
		margin-bottom: 6px;
		color: #eee;
	}
	
	body.dark .datatable .dt-pagination {
		background: inherit;
	}
	
	body.dark .datatable .dt-pagination-buttons {
		height: 32px;
		margin-right: 16px;
	}
	body.dark .datatable .dt-pagination-buttons button {
		background: inherit;
		height: 32px;
		width: 32px;
		color: #eee;
		font-size: 13px;
		margin: 0;
		padding: 0;
		transition: all, .2s;
		line-height: 32px;
		border: 1px solid #37474f;
		border-right: none;
		outline: none;
	}
	body.dark .datatable .dt-pagination-buttons button:first-child {
		border-radius: 4px 0 0 4px;
	}
	body.dark .datatable .dt-pagination-buttons button:last-child {
		border-right: 1px solid #37474f;
		border-radius: 0 4px 4px 0;
	}
	body.dark .datatable .dt-pagination-buttons button:not(.active):hover {
		background: #455a64;
		cursor: pointer;
	}
	body.dark .datatable .dt-pagination-buttons button.text {
		width: auto;
		min-width: 70px;
		cursor: pointer;
	}
	body.dark .datatable .dt-pagination-buttons button.ellipse:hover {
		background: inherit;
		cursor: default;
	}
	body.dark .datatable .dt-pagination-buttons button.active {
		background: #2B2A32;
		font-weight: bold;
	}
	body.dark .datatable .dt-pagination-buttons button.disabled:hover {
		background: inherit;
		cursor: default;
	}
	body.dark .datatable .dt-pagination-buttons.mobile button.disabled {
		color: #bdbdbd;
	}
	body.dark .datatable .dt-pagination-buttons.mobile button {
		font-weight: bold;
	}
	
	body.dark .datatable .dt-pagination-rowcount {
		color: #eee;
		line-height: 32px;
		margin-left: 16px;
		font-size: 14px;
	}
}